.contacts-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--spacing);
}

.contacts-content ul {
    list-style-type: none;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: var(--spacing);
}

.contacts-content ul li {
    background-color: var(--color-background-secundary);

    border-radius: var(--spacing);
    padding: var(--spacing);
}

.contacts-content ul a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing);
}

.contacts-content ul a div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing);
}

.contact-value {
    color: var(--color-text);
    font-weight: var(--font-weight);
}

.contact-value:hover,
.contact-value:active {
    color: var(--color-text);
}

.contacts-content ul img {
    height: 50px;

    transition: all 0.2s ease-in-out;
}

.contacts-content ul a:hover img {
    height: 40px;
}

.contacts-image {
    width: 300px;
}

@media (max-width: 999px) {
    .contacts-content {
        flex-direction: column;
    }
}

@media (max-width: 550px) {
    .contacts-content ul,
    .contacts-content ul li {
        width: 100%;
    }
    .contact-value {
        display: none !important;
    }
}

@media (max-width: 350px) {
    .contacts-image {
        width: 100%;
    }
}
