.div-techs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing);
}

.div-techs ul {
    background-color: var(--color-background-secundary);
    border-radius: var(--border-radius);
    width: 100%;
    padding: var(--spacing);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--spacing);
}

.div-techs li {
    width: 100px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(var(--spacing) / 2);
}

.div-techs img {
    height: 30px;
}
