
<h3>Tecnologias</h3>

<ul class="techs">
    <li>
        <img src="./assets/images/tech/java.svg" alt="Java">
        <strong>Java</strong>
    </li>
    <li>
        <img src="./assets/images/tech/spring-boot.svg" alt="Spring Boot">
        <strong>Spring Boot</strong>
    </li>
    <li>
        <img src="./assets/images/tech/spring.svg" alt="Spring">
        <strong>Spring</strong>
    </li>
    <li>
        <img src="./assets/images/tech/libgdx.png" alt="libGDX">
        <strong>libGDX</strong>
    </li>
    <li>
        <img src="./assets/images/tech/sql.svg" alt="SQL">
        <strong>SQL</strong>
    </li>
    <li>
        <img src="./assets/images/tech/postgresql.svg" alt="PostgreSQL">
        <strong>PostgreSQL</strong>
    </li>
    <li>
        <img src="./assets/images/tech/nosql.svg" alt="NoSQL">
        <strong>NoSQL</strong>
    </li>
    <li>
        <img src="./assets/images/tech/mongodb.svg" alt="MongoDB">
        <strong>MongoDB</strong>
    </li>
    <li>
        <img src="./assets/images/tech/python.svg" alt="Python">
        <strong>Python</strong>
    </li>
    <li>
        <img src="./assets/images/tech/django.svg" alt="Django">
        <strong>Django</strong>
    </li>
    <li>
        <img src="./assets/images/tech/flask.png" alt="Flask">
        <strong>Flask</strong>
    </li>
    <li>
        <img src="./assets/images/tech/sqlite.svg" alt="SQLite">
        <strong>SQLite</strong>
    </li>
    <li>
        <img src="./assets/images/tech/power-bi.svg" alt="Power BI">
        <strong>Power BI</strong>
    </li>
    <li>
        <img src="./assets/images/tech/git.svg" alt="Git">
        <strong>Git</strong>
    </li>
    <li>
        <img src="./assets/images/tech/docker.svg" alt="Docker">
        <strong>Docker</strong>
    </li>
    <li>
        <img src="./assets/images/tech/c.svg" alt="C">
        <strong>C</strong>
    </li>
    <li>
        <img src="./assets/images/tech/cplus.svg" alt="C++">
        <strong>C++</strong>
    </li>
    <li>
        <img src="./assets/images/tech/csharp.svg" alt="C#">
        <strong>C#</strong>
    </li>
    <li>
        <img src="./assets/images/tech/unity.svg" alt="Unity">
        <strong>Unity</strong>
    </li>
    <li>
        <img src="./assets/images/tech/blender.svg" alt="Blender">
        <strong>Blender</strong>
    </li>
    <li>
        <img src="./assets/images/tech/javascript.svg" alt="JavaScript">
        <strong>JavaScript</strong>
    </li>
    <li>
        <img src="./assets/images/tech/typescript.svg" alt="TypeScript">
        <strong>TypeScript</strong>
    </li>
    <li>
        <img src="./assets/images/tech/react.svg" alt="React">
        <strong>React</strong>
    </li>
</ul>
