
<h3>Certificados</h3>

<ul class="certifications">

    <li> <!-- Introduction to Cybersecurity -->
        <p>
            <a href="./assets/images/certifications/2024-05-10-Hackers-do-Bem-Basico.pdf" target="_blank">
                <img src="./assets/images/certification.png" alt="Certificado">
            </a>
            <strong>SENAI</strong>
            <br>Básico de Cybersegurança
        </p>
        <p>
            2024 (64H)
        </p>
    </li>

    <li> <!-- Cybersecurity Fundamentals -->
        <p>
            <a href="./assets/images/certifications/2024-03-09-Hackers-do-Bem-Nivelamento.pdf" target="_blank">
                <img src="./assets/images/certification.png" alt="Certificado">
            </a>
            <strong>SENAI</strong>
            <br>Nivelamento de Cybersegurança
        </p>
        <p>
            2024 (80H)
        </p>
    </li>

    <li> <!-- Web Programming Fundamentals -->
        <p>
            <a href="./assets/images/certifications/2023-10-02-Rocketseat-Discover.pdf" target="_blank">
                <img src="./assets/images/certification.png" alt="Certificado">
            </a>
            <strong>Rocketseat</strong>
            <br>Fundamentos da Programação Web
        </p>
        <p>
            2023 (12H)
        </p>
    </li>

    <li> <!-- Fundamentals of Data Science I -->
        <p>
            <img src="./assets/images/certification.png" alt="Certificado">
            <strong>Udacity</strong>
            <br>Fundamentos de Data Science I
        </p>
        <p>
            2019 (--H)
        </p>
    </li>

    <li> <!-- Introduction to Computer Science with Python -->
        <p>
            <img src="./assets/images/certification.png" alt="Certificado">
            <strong>USP</strong>
            <br>Introdução à Ciência da Computação em Python
        </p>
        <p>
            2019 (--H)
        </p>
    </li>

    <li> <!-- Web Designer -->
        <p>
            <a href="./assets/images/certifications/2006-12-19-Microlins-Web-Designer-96.pdf" target="_blank">
                <img src="./assets/images/certification.png" alt="Certificado">
            </a>
            <strong>Microlins</strong>
            <br>Web Designer
        </p>
        <p>
            2006 (96H)
        </p>
    </li>

    <li> <!-- Windows, Word, Excel, Access and Powepoint -->
        <p>
            <a href="./assets/images/certifications/2006-03-06-IEBEU-Windows-Word-Excel-Access-Powepoint-88.pdf" target="_blank">
                <img src="./assets/images/certification.png" alt="Certificado">
            </a>
            <strong>IEBEU</strong>
            <br>Windows, Word, Excel, Access e Powepoint
        </p>
        <p>
            2006 (88H)
        </p>
    </li>

    <li> <!-- Computer Networking -->
        <p>
            <img src="./assets/images/certification.png" alt="Certificado">
            <strong>Microlins</strong>
            <br>Redes de Computadores
        </p>
        <p>
            2005 (--H)
        </p>
    </li>

    <li> <!-- Computer Assembly and Maintenance -->
        <p>
            <a href="./assets/images/certifications/2005-03-26-Microlins-Montagem-e-Manutencao-de-Computadores-72.pdf" target="_blank">
                <img src="./assets/images/certification.png" alt="Certificado">
            </a>
            <strong>Microlins</strong>
            <br>Montagem e Manutenção de Computadores
        </p>
        <p>
            2005 (72H)
        </p>
    </li>

</ul>
