
<h3>Experiências Profissionais</h3>

<ul class="work-experiences">

    <li> <!-- Grupo Oceânica -->
        <p>
            <strong>Grupo Oceânica</strong>
            <br>Engenheiro de Software Estagiário
            <br>(2025 - Atual)
        </p>
        <p class="work-experiences-description">
            Analise de dados com Python e Power BI, automação de relatórios, planilhas Excel e dashboards com Python, Pandas e OpenPyXL.
        </p>
    </li>
    
    <li> <!-- Prefeitura de Saquarema -->
        <p>
            <strong>Prefeitura de Saquarema</strong>
            <br>Agente de Tecnologia
            <br>(2024 - 2025)
        </p>
        <p class="work-experiences-description">
            Suporte técnico, manutenção de redes, Office, auxilio e manutenção de equipamentos eletrónicos voltados para o ensino, auxiliar professores com material tecnológico e aula de informática.
        </p>
    </li>

    <li> <!-- Freelancer -->
        <p>
            <strong>Freelancer</strong>
            <br>(2016 - 2023)
        </p>
        <p class="work-experiences-description">
            Freelancer de Programação, Marketing digital, vendas online comissionadas, redes sociais, otimização de websites para mecanismos de busca.
        </p>
    </li>

    <li> <!-- UERJ -->
        <p>
            <strong>UERJ</strong>
            <br>Iniciação Científica
            <br>(2017 - 2017)
        </p>
        <p class="work-experiences-description">
            Projeto de pesquisa de simulação de raios X em um cluster de computadores, utilizando o Kernel do Linux e a linguagem de programação C#.
        </p>
    </li>

    <li> <!-- Bom Doce -->
        <p>
            <strong>Bom Doce</strong>
            <br>Gerente de Estoque
            <br>(2014 - 2015)
        </p>
        <p class="work-experiences-description">
            Controle e gerenciamento de estoque, acompanhamento de pedidos, controle de carga e descarga de caminhões, relatórios de estoque, pedidos e de produção, solicitação de materiais e matéria prima.
        </p>
    </li>

    <li> <!-- AlanMotors -->
        <p>
            <strong>AlanMotors</strong>
            <br>Auxiliar Administrativo
            <br>(2011 - 2014)
        </p>
        <p class="work-experiences-description">
            Emissão de notas fiscais de venda, devolução, garantia e de serviços, organização de documentos, pedidos e recargas de VT, cobrança, pagamentos, gerenciamento e relatório de rendimento de funcionários, negociações com fornecedores, relatórios de ganhos e gastos com apuração do lucro, relatórios de vendas, acompanhamento e cobrança de documentos fiscais junto a contabilidade, acompanhamento de contratação, férias e rescisão de funcionários, controle de estoque físico e por sistema, almoxarifado.
        </p>
    </li>

    <li> <!-- SERTEC Contabilidade -->
        <p>
            <strong>SERTEC Contabilidade</strong>
            <br>Auxiliar de Escritório
            <br>(2011 - 2011)
        </p>
        <p class="work-experiences-description">
            Elaboração de balanço patrimonial e DRE no sistema "AlterData", cobrança de documentos e honorários , redigir contratos de compra e venda, aluguel e de serviços contábeis, acompanhamento de abertura e encerramento de firma, lançamentos contábeis, livros caixa e diário.
        </p>
    </li>

</ul>
