
<h3>Formações Acadêmicas</h3>

<ul class="academic-qualifications">

    <li class="academic-qualifications-left"> <!-- Software Engineering -->
        <div class="academic-qualifications-description">
            <strong>Univassouras</strong>
            <p>
                <strong>Engenharia de Software</strong>
                <br>(Bacharelado)
            </p>
            <p>
                <strong>2023 - 2027</strong>
                <br>(Cursando)
            </p>
        </div>
        <img src="./assets/images/logo-univassouras.png" alt="Univassouras">
    </li>

    <li class="academic-qualifications-right"> <!-- Physics -->
        <img src="./assets/images/logo-uerj.svg" alt="UERJ">
        <div class="academic-qualifications-description">
            <strong>UERJ</strong>
            <p>
                <strong>Física</strong>
                <br>(Bacharelado)
            </p>
            <p>
                <strong>2017 - 2020</strong>
                <br>(Incompleto)
            </p>
        </div>
    </li>

</ul>
