
<div class="domain">

  <a href="./">&copy; Leandro Cardoso DEV</a>

</div>

<nav class="social">

  <ul>
    <li>
      <a href="https://wa.me/5522992399041" target="_blank">
        <img src="./assets/images/social/whatsapp.svg" alt="WhatsApp">
      </a>
    </li>
    <li>
      <a href="mailto:leandrocardosodev@gmail.com?subject=Portfolio" target="_blank">
        <img src="./assets/images/social/mail.svg" alt="E-Mail">
      </a>
    </li>
    <li>
      <a href="https://github.com/Leandro-Cardoso" target="_blank">
        <img src="./assets/images/social/github.svg" alt="GitHub">
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/leandro-cardoso-992529266" target="_blank">
        <img src="./assets/images/social/linkedin.svg" alt="LinkedIn">
      </a>
    </li>
    <li>
      <a href="https://x.com/LeandroCDev" target="_blank">
        <img src="./assets/images/social/x.svg" alt="X">
      </a>
    </li>
  </ul>

</nav>
