
<div class="logo">

  <a href="./">
    <img src="./assets/images/favicon.png" alt="Leandro Cardoso DEV">
  </a>

</div>

<nav class="menu">

  <ul>
    <li>
      <a href="./">Inicio</a>
    </li>
    <li>
      <a href="./about">Sobre</a>
    </li>
    <li>
      <a href="./contacts">Contatos</a>
    </li>
    <li>
      <a href="./projects">Projetos</a>
    </li>
    <li>
      <a href="./blog">Blog</a>
    </li>
  </ul>

</nav>

<nav class="language-selector">

  <!-- FOR LANGUAGES -->

</nav>
